.container{
    background-color: #84c1c0;
}
.subContainer{
    margin: 0px 15px ;
}
.collapseTab {
    background-color: #91d3e0;
    padding: 20px;
    width: 100%;
    font-size: 15px;
}

.collapseTab:after {
    float: right;
    content: " ";
    width: 20px;
    height: 15px;
    background-image: url(./images/spriteimage.svg);
    background-position: -596px 77px;
}

.active:after {
    float: right;
    transform: rotate(180deg);
}

.content {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: 1s ease-in;
    
}
.in-content{
    font-size: 15px;
    padding: 15px;
}
.content :nth-child(odd){
    background-color: #7ab9f9;
}
.content :nth-child(even){
    background-color: #adbaf9;
}
.heading{
    text-align: center;
    padding: 5px;
    border: 2px solid;
}
.game{
    padding: 15px;
}
